
/* Dock */

#Home
{
    
    position: fixed;
    height: 150px;
}

.Dock {
    position: relative;
    display: inline-block;
    top: 0;
    z-index: 10;
}

.Dock ul {
    position: relative;
	display: inline-flex;
	padding: 0;
	margin: 0;
}

.Dock li {
  display: inline-flex;
  position: relative;
  vertical-align: baseline;
}

.Dock a {
  font-size: normal 14px/1;
  font-family: Arial, sans-serif;
  display: inline-block;
  cursor: default;
  outline: none;
}

.Dock em {
	position: absolute;
	top: 80px;
	left: 50%;
	display: none;
	width: 150px;
	margin-left: -75px;
	text-align: center;
}

.Dock em:after {
	content: " ";
	top: 0%;
	left: 50%;
	margin-left: -6px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, .6);
	border-bottom: none;
}

.Dock em span {
    
	padding: 5px 12px;
    display: block;
	font-size: 14px;
	font-style: normal;
	color: #FFF;
	background: #000;
	background: rgba(0, 0, 0, .6);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .9);
	border-radius: 12px;
}

.Dock li:hover em, .dock li a:focus em {
	display: block;
}

.Dock img {
	width: 150px;
	height: auto;
	border: none;
    
  transition: width .2s, height .2s;
}

.Dock li:hover img, .dock li a:focus img {
	width: 140px;
}

.Dock li:active img {
	opacity: .9;
}