.ImageTile
{
    display: inline-block;
}

.ImageTile ul, .TextImageTile ul
{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 165, 0, 0);
}

.ImageTile img
{
    position: relative;
	border: none;
    transition: width .2s, height .2s;
}

.ImageTile li
{
    display: inline-flex;
    height: auto;
    position: relative;
	border: none;
    transition: width .5s, height .5s;
}

.ImageTile li:hover img, .ImageTile img:hover
{
    width: 100%;
    height: 100%;
}

.ImageTile ul:hover li > img
{
    height: 100%;
}



