
html
{
    background: red;
    background-image: url(background.png);
}
body
{
    margin: 0px;
}

.TileList
{
    position: relative;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    display: inline-block;
    width: 100%;
}