settings
{
    --TileBackgroundColor = rgba(168, 109, 0, 1);
    --TileOutlineColor = rgba(0, 255, 29, 0.25);
}

.CenterAlign
{
    text-align: center;
}

.LeftAlign
{
    text-align: left;
}

.RightAlign
{
    text-align: right;
}

.LeftAlign h1, .RightAlign h1 /*Make Headline still centered*/
{
    text-align: center;
}
